.container {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.p-heading {
  margin-top: 40px;
  font-weight: bold;
}

.list {
  text-align: left;
  padding-left: 100px; /* Added padding-left to create space for bulletpoints */
  font-weight: bold;
}

.list li {
  list-style-type: disc; /* Added bulletpoints */
  margin: 20px;
}

.b-description {
  margin-bottom: 20px;
}