html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.container {
  width: 100%; /* Take up full width of viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1.5rem; /* Increased padding for better spacing */
  border-radius: 12px;
  max-width: 1200px; /* Optional: Set max-width for large screens */
  margin: 0 auto; /* Center the container */
}

.b-heading {
  text-align: center;
  margin-bottom: 1.5rem;
}

.b-heading h1 {
  font-size: 2.5rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 4px solid #007bff;
  display: inline-block;
  padding-bottom: 10px;
}

.desc-container {
  line-height: 1.6;
}

.b-description {
  font-size: 1.25rem; /* Adjust base font size */
  color: #666;
  margin-bottom: 1rem;
  text-align: justify;
  line-height: 1.6; /* Improve readability with slightly increased line height */
}

.b-description::first-letter {
  font-size: 2rem; /* Increase size of the first letter */
  font-weight: bold;
  color: #007bff;
  margin-right: 0.5rem; /* Reduce margin for better alignment */
  float: left;
  line-height: 1; /* Match line height for the first letter */
}

@media (max-width: 600px) {
  .b-heading h1 {
    font-size: 2rem;
  }

  .b-description {
    font-size: 1rem;
  }
}
