.sz-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    margin-bottom: auto;
    background-color: #3E8CB8;
  }
  
  /* Style h4 and p as the title and description */
  h4,
  .sz-heading {
    margin: 1.75rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #2d3748;
    text-align: center;
    padding: 1rem;
  }

  .card-container {
    flex: 0 0 calc(50% - 1rem); /* Set width for two cards in a row */
    max-width: calc(50% - 1rem); /* Set max-width for responsiveness */
    padding: 1rem; /* Increase padding for more space inside the cards */
    background-color: #ffffff;
    align-items: center;
    border: 1px solid #e2e8f0;
    border-radius: 1rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    text-decoration: none;
    color: #2d3748;
  }
  
  .card-container:hover {
    background-color: #edf2f7;
    border-color: #cbd5e0;
    transform: translateY(-2px);
  }
  
  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #2d3748;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .description {
    font-size: 1rem;
    color: #4a5568;
    margin: 10px;
  }
  @media (max-width: 768px) {
    .card-container {
      flex: 0 0 calc(100% - 1rem);
      max-width: calc(100% - 1rem);
    }
  }